<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Work Relationships

    <a data-toggle="collapse" href="#office_work_relationships_new_form">
      Add work relationship
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @office.work_relationships.each do |work_relationship| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/work_relationships/<%= work_relationship.id %>">
          <%= work_relationship.professional_id %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
