<form action="/create_charge_from_appointment" method="post">

  <div class="form-group">
    <label for="amount">
      Amount
    </label>

    <input type="text" id="amount" name="amount" class="form-control" value="<%= @charge.amount %>">
  </div>

  <div class="form-group">
    <label for="paid">
      Paid
    </label>
    <input id="paid" class="form-check-input" name="paid" type="checkbox" <%= "checked" if @charge.paid %>>
  </div>

  <input type="hidden" name="appointment_id" value="<%= @appointment.id %>">

  <div class="form-group">
    <label for="treatment_id">
      Treatment
    </label>

    <%= select_tag(:treatment_id, options_from_collection_for_select(Treatment.all, :id, :name, @charge.treatment_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create charge
  </button>
</form>
