<form action="/create_specialization_from_specialty" method="post">

  <div class="form-group">
    <label for="professional_id">
      Professional
    </label>

    <%= select_tag(:professional_id, options_from_collection_for_select(Professional.all, :id, :created_at, @specialization.professional_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="specialty_id" value="<%= @specialty.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create specialization
  </button>
</form>
