<h1>
  Edit specialty #<%= @specialty.id %>
</h1>

<hr>

<form action="/update_specialty/<%= @specialty.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <textarea id="name" name="name" class="form-control" rows="3"><%= @specialty.name %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update specialty
  </button>
</form>

<hr>

<a href="/specialties">
  Go back
</a>
