<h1>
  Add a new specialty
</h1>


<hr>

<form action="/create_specialty" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <textarea id="name" name="name" class="form-control" rows="3"></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create specialty
  </button>
</form>

<hr>

<a href="/specialties">
  Go back
</a>
