<h1>
  Edit specialization #<%= @specialization.id %>
</h1>

<hr>

<!-- Form specialization start -->
<form action="/update_specialization/<%= @specialization.id %>" method="post">
<!-- Form specialization end -->

  <!-- Label and input for professional_id start -->
  <div class="form-group">
    <label for="professional_id">
      Professional
    </label>

    <!-- Input for professional_id start -->
    <%= select_tag(:professional_id, options_from_collection_for_select(Professional.all, :id, :created_at, @specialization.professional_id), :class => "form-control") %>
    <!-- Input for professional_id end -->
  </div>
  <!-- Label and input for professional_id end -->

  <!-- Label and input for specialty_id start -->
  <div class="form-group">
    <label for="specialty_id">
      Specialty
    </label>

    <!-- Input for specialty_id start -->
    <%= select_tag(:specialty_id, options_from_collection_for_select(Specialty.all, :id, :created_at, @specialization.specialty_id), :class => "form-control") %>
    <!-- Input for specialty_id end -->
  </div>
  <!-- Label and input for specialty_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update specialization
  </button>
</form>

<hr>

<a href="/specializations">
  Go back
</a>
