<h1>
  Add a new specialization
</h1>


<hr>

<form action="/create_specialization" method="post">

  <div class="form-group">
    <label for="professional_id">
      Professional
    </label>

    <%= select_tag(:professional_id, options_from_collection_for_select(Professional.all, :id, :created_at, @specialization.professional_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="specialty_id">
      Specialty
    </label>

    <%= select_tag(:specialty_id, options_from_collection_for_select(Specialty.all, :id, :name, @specialization.specialty_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create specialization
  </button>
</form>

<hr>

<a href="/specializations">
  Go back
</a>
