<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Charges

    <a data-toggle="collapse" href="#treatment_charges_new_form">
      Add charge
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @treatment.charges.each do |charge| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/charges/<%= charge.id %>">
          <%= charge.amount %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_charge_from_treatment/<%= charge.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="treatment_charges_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "treatment_templates/treatment_charges_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
