<h1>
  Edit treatment #<%= @treatment.id %>
</h1>

<hr>

<form action="/update_treatment/<%= @treatment.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @treatment.name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update treatment
  </button>
</form>

<hr>

<a href="/treatments">
  Go back
</a>
